<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Update Student</h1>
    <div class="nav">
        <button 
         class="btn"
         onclick="window.location.href='{{ url_for('view_students')}}'"
        >
            View Students
        </button>
        <button class="btn" onclick="window.location.href='{{ url_for('home')}}'">
            Home
        </button>
    </div>
    <form method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="grade">Grade:</label>
            <input type="text" id="grade" name="grade" required>

            <button type="submit" class="add_btn">Add Student</button>
    </form>
</body>
</html> 